* {
  box-sizing:border-box;
}

html {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(73, 73, 73);
}

h1, p {
    text-align: center;
    background-color: rgb(73, 73, 73);
    padding: 0;
    margin: 0;
    color: beige;
  }

p {
  margin: 10px;
}
  
label {
    display: block;
    margin: 0.5rem 0;
    color: beige;
  }
  
  .container {
    display: flex;
    justify-content: center;
    background-color: rgb(73, 73, 73);
  }
  
  .separator {
    display: flex;
    flex-direction: column;
    
  }

  .separator-row {
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content:center;
  }

  .separator-right {
    display: flex;
    flex-direction: row;
  }

  .right {
    justify-content: flex-end;
  }

  input[type="submit"] {
    background-color: beige;
    color: rgb(73, 73, 73);
    width: 33%;
  }

  .submit, #dropdown {
    display: flex;
    justify-content:center;
    margin: 0;
    padding: 0;
  }

  #submit:hover {
    cursor: pointer;
    background-color: rgb(233, 177, 109);
    color: rgb(73, 73, 73);
  }

  #name, #email, #number, #dropdown, textarea {
    background-color: rgb(73,73,73);
    color: beige;
  }